@font-face {
  font-family: 'fonts/Fette1451Engschrift';
  src: url('fonts/FetteEngschrift-webfont.eot');
  src: local('☺'), url('fonts/FetteEngschrift-webfont.woff') format('woff'), url('fonts/FetteEngschrift-webfont.ttf') format('truetype'), url('fonts/FetteEngschrift-webfont.svg#webfonttGgFgCkX') format('svg');
  font-weight: normal;
  font-style: normal;
}

