/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

/*

grün: #8ae234;
orange: #fcaf3e;
blau: #729fcf;

*/

a img {border:none;}


a {
  color: #fff;
  text-decoration: underline;
}


html {
  background-size: 500px auto;
}

body {
  background: url(himmel.jpg);
  margin: 0;
  padding: 0;
  color: #fff;
  font: normal 9pt/12pt sans-serif;
  background-size: 1400px;
}

#outerwrapper {
  border: 1px solid rgba(0,0,0,0);
  background: url(himmel_50.png);  
  background-size: 700px;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

#wrapper {
  border: 3px solid white;
  margin: 20px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 600px;
  background: #004A94;
  overflow: hidden;
}

#wrapper .inner {
  margin: 20px;
}

#docs {
  margin-top: 20px;
}

#alpha {
  font-size: 30px;
  line-height: 30px;
  position: relative;
  display: block;
  padding: 5px;
  width: 100px;
  text-align: center;
  background: red;
  top: 35px;
  left: -50px;
  width: 200px;
  font-family: 'fonts/Fette1451Engschrift';
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0,0,0,0.35);
  box-shadow: 2px 2px rgba(0,0,0,0.15);
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); /* IE 9 */
  -moz-transform:rotate(-45deg);  /*Firefox*/ 
  -webkit-transform:rotate(-45deg); /* Safari and Chrome */
  -o-transform:rotate(-45deg); /* Opera */
}

#useraction select {
  width: 560px;
  font-size: 35px;
  line-height: 60px;
  margin: 20px 0 40px;
  -webkit-appearance: none;
  background-color: #fff;
  padding: 0 5px;
}

#useraction option {
  padding: 2px 10px;
}

#participant a {
  text-decoration: none;
}

h1 {
  font-family: 'fonts/Fette1451Engschrift';
  font-size: 60px;
  line-height: 60px;
  font-weight: normal;
  font-style: normal;
  margin:  -20px 0 30px;
  padding: 0;
  text-align: center;
}

a[href] {
    background-color: transparent;
}

.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
.smallmap {
  width: 560px;
  height: 250px;
}