/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

/*

grün: #8ae234;
orange: #fcaf3e;
blau: #729fcf;

*/

a img {border:none;}

/*

 * Basic Typography

*/

body {
  background: url(himmel.jpg);
  color: #fff;
  font: normal 9pt/12pt sans-serif;
}

a {
  color: #fff;
  text-decoration: underline;
}

#wrapper {
  border: 3px solid white;
  margin: 20px auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 600px;
  background: #004A94;
}

#wrapper .inner {
  margin: 20px;
}

#docs {
  margin-top: 20px;
}

#useraction select {
  width: 560px;
  font-size: 35px;
  line-height: 60px;
  padding: 5px 10px;
  margin-bottom: 40px;
}

#participant a {
  text-decoration: none;
}

h1 {
  font-family: 'fonts/Fette1451Engschrift';
  font-size: 60px;
  line-height: 60px;
  font-weight: normal;
  font-style: normal;
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

a[href] {
    background-color: transparent;
}

.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
.smallmap {
    width: 560px;
    height: 250px;
}